{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Telegram": {
    "BotToken": "YOUR_BOT_TOKEN_HERE"
  },
  "Analytics": {
    "BaseUrl": "http://194.68.32.97:5000/api/analytics"
  }
}